.hidden {
  display: none;
}

.carousel-container {
  max-width: 575px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

#carousel-img {
  width: 300px;
}

.cards {
  gap: 14px;
}

.fa-fade {
  --fa-animation-duration: 6s;
  --fa-fade-opacity: 0.6;
}
